body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.quiz-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.question-container {
    margin-bottom: 20px;
}

.option {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #c615dd;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.option:hover {
    background-color: #9509a7;
}

#score {
    font-weight: bold;
}
